
.container-top { grid-area: header; }
.container-left { grid-area: menu; }
.container-right { grid-area: right; }
.container-botton { grid-area: footer; }
.container-center { grid-area: main; }

.container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main right'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.container-center{
  padding: 20px;
}

.container-left{
  width: 100px;
}

.container-right{
  width: 100px;
}

.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.disableContainer {
  pointer-events: none;
 }

 .activeContainer {
  pointer-events: fill;
 }

.to_darken:before {
    background-color: rgba(255, 255, 255, 0.1)!important ;
    z-index: 2;
}
.to_darken:after{
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
/*.to_darken:hover:after {
    opacity: 0;
}*/
.to_darken {
    background: rgba(#000, .4)!important;
    z-index: 3; 
    position: relative;
    transition: all 1s;
}